:host {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 400px;
  padding: 25px;
  background: transparentize(#000, .15);

  > div {
    height: 25px !important;
    max-height: 100px;
  }

  .label {
    font-size: 18px;
    font-weight: 700;
    color: #fff;

    text-decoration: underline;

    &:hover {
      cursor: pointer;
      text-decoration: none;
    }
  }

  .value {
    font-size: 18px;
    color: coral;
    max-height: 100px;


    &.description {
      overflow-y: auto;
      overflow-x: hidden;
      max-height: 200px !important;
    }

    .url-value {
      text-decoration: none ;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
        color: #56c8d8 !important;
      }
    }

    a {
      word-break: break-all;
      color: inherit !important;
    }
  }

  .color {
    margin: auto;
  }

  .close-button {
    color: #9cff57;

    &:hover {
      color: orangered;
    }

    .mat-icon {
      width: 30px;
      height: 30px;
    }
  }
}
